<nav class="nav-primary" aria-label="Main" itemscope itemtype="http://schema.org/SiteNavigationElement">
  <div class="wrap">
    <ul id="menu-top-menu" class="menu genesis-nav-menu menu-primary">
      {{ range .Site.Menus.main }}
        {{ $active := false }}
        {{ $menuPath := .URL }}
        {{ if not (hasPrefix $menuPath "http") }}
          {{ if not (hasPrefix $menuPath "/") }}{{ $menuPath = printf "/%s" $menuPath }}{{ end }}
          {{ if and (ne $menuPath "/") (not (hasSuffix $menuPath "/")) }}{{ $menuPath = printf "%s/" $menuPath }}{{ end }}
        {{ end }}
        {{ if or (eq .URL "/") (eq $menuPath "/") }}
          {{ $active = $.IsHome }}
        {{ else if $.IsMenuCurrent "main" . }}
          {{ $active = true }}
        {{ else if $.HasMenuCurrent "main" . }}
          {{ $active = true }}
        {{ else if eq $.RelPermalink $menuPath }}
          {{ $active = true }}
        {{ else if and (ne $menuPath "/") (hasPrefix $.RelPermalink $menuPath) }}
          {{ $active = true }}
        {{ end }}
        <li class="menu-item menu-item-type-custom menu-item-object-custom{{ if $active }} current-menu-item current_page_item{{ end }}">
          <a href="{{ .URL }}" itemprop="url"{{ if $active }} aria-current="page"{{ end }}><span itemprop="name">{{ .Name }}</span></a>
        </li>
      {{ end }}
    </ul>
  </div>
</nav>
<header class="site-header" itemscope itemtype="http://schema.org/WPHeader">
  <div class="wrap">
    <div class="title-area">
      {{ if .IsHome }}
        <h1 class="site-title" itemprop="headline"><a href="{{ "/" | relURL }}" itemprop="url">{{ .Site.Title }}</a></h1>
      {{ else }}
        <p class="site-title" itemprop="headline"><a href="{{ "/" | relURL }}" itemprop="url">{{ .Site.Title }}</a></p>
      {{ end }}
      <p class="site-description" itemprop="description">{{ .Site.Params.description }}</p>
    </div>
  </div>
</header>
