<div class="addtoany_share_save_container addtoany_content_bottom" aria-label="Share">
  <div class="a2a_kit a2a_kit_size_32 addtoany_list">
    <a class="a2a_button a2a_button_facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink | absURL | safeURL }}" title="Facebook" rel="nofollow noopener noreferrer" target="_blank">Facebook</a>
    <a class="a2a_button a2a_button_twitter" href="https://twitter.com/intent/tweet?url={{ .Permalink | absURL | safeURL }}&text={{ .Title | safeURL }}" title="Twitter" rel="nofollow noopener noreferrer" target="_blank">Twitter</a>
  </div>
</div>
